@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color1: #313131;
  --color2: #fefefe;
  --color3: #6195c3;
  --color4: #6c6c6c;
  --color5: #cfdfee;

  --background-color1: #6195c3;
  --background-color2: #f1f7f7;
  --background-color3: #2270ec;
  --background-color4: #62778c;

  --link-color1: #2270ec;
}

html {
  font-size: 16px;
  overflow-x: hidden;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.z-2 {
  z-index: 2;
}

.header {
  position: fixed !important;
  z-index: 5;
  background-color: var(--background-color1) !important;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: space-evenly;
  align-items: center;
  padding: 90px 0 50px;
  font-weight: bold;
  color: var(--color4);
  background: transparent;
}

.auth-btns-duplicate {
  display: flex;
  gap: 10px;
}

.auth-btns-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-registration {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-shipping-address {
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: var(--color4);
  border: solid 1px #cccccc;
  border-radius: 4px;
}

.input-radio {
  width: 16px;
  height: 16px;
  margin: 10px 13px;
  border: 2px solid white;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #656565;
  background-color: #ffffff;
  appearance: none;
  transition: all ease-in 0.2s;
}

.input-radio:checked {
  background-color: var(--background-color3);
}

.registration-btn,
.login-btn {
  margin-top: 20px !important;
  color: var(--color2) !important;
  background-color: var(--background-color1) !important;
}

.registration-btn[disabled],
.login-btn[disabled] {
  color: var(--color5) !important;
  background-color: var(--background-color4) !important;
}

.registration-btn:hover,
.login-btn:hover {
  background-color: var(--background-color3) !important;
}

.product-card-img1,
.product-card-img2,
.product-card-img3,
.product-card-img4 {
  display: none !important;
}

.product-card:hover .product-card-content {
  color: var(--color3);
}

.product-card:hover .img-btns {
  visibility: visible;
}

.card-btn-img0:hover .product-card-img0 {
  display: block;
}

.card-btn-img1:hover .product-card-img1 {
  display: block;
}

.card-btn-img2:hover .product-card-img2 {
  display: block;
}

.card-btn-img3:hover .product-card-img3 {
  display: block;
}

.card-btn-img4:hover .product-card-img4 {
  display: block;
}

.img-btns {
  visibility: hidden;
}

.footer {
  position: fixed !important;
  top: unset;
  bottom: 0;
  z-index: 5;
  font-size: 16px;
  background-color: var(--background-color1) !important;
  box-shadow:
    0 -2px 4px -1px rgb(0 0 0 / 20%),
    0 -4px 5px 0 rgb(0 0 0 / 14%),
    0 -1px 10px 0 rgb(0 0 0 / 12%);
}

.gh-logo {
  width: 17px;
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.3s;
}

.gh-logo-fill1,
.gh-logo-fill2 {
  fill: var(--color2);
}

.rss-logo {
  fill: var(--color2);
}

.gh-logo:hover {
  transform: rotateY(180deg);
  transition: all 0.3s;
}

.welcome-page-content1,
.welcome-page-content2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 10px 0 20px;
  overflow: auto;
}

.welcome-page-content2 {
  padding: 10px 20px 20px;}

.content-title {
  width: 100%;
  padding: 0 20px 10px;
  font-size: 24px;
}

.content-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  padding: 10px;
}

.content-item-title {
  margin: 5px 0 30px;
  font-size: 20px;
}

.content-item-about-team,
.content-item-description {
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  line-height: 2;
  white-space: pre-line;
}

.content-item-description {
  text-indent: 15px;
  line-height: 1.3;
}

.remove-btn {
  color: var(--color3);
  letter-spacing: var(--spacing);
  cursor: pointer;
  font-size: 0.85rem;
  background: transparent;
  border: none;
  margin-top: 0.375rem;
  transition: var(--transition);
}

.remove-btn:hover {
  color: var(--color5);
}

@media (max-width: 640px) {
  .welcome-page-content1 {
    flex-direction: column;
    align-items: center;
  }

  .content-item {
    width: 90%;
  }
}

@media (max-width: 420px) {
  .footer {
    font-size: 12px;
    font-weight: 400;
  }
}
